input[type="number"],
input[type="radio"] + label,
input[type="submit"],
input[type="button"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}



input[type="radio"] + label {
    display: inline-block;
    width: auto;
    margin-right: 15px;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    background: none;
}

.breadcrumb-item {
    margin-right: 10px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.breadcrumb-item a:hover {
    color: #0056b3;
}

.breadcrumb-item::after {
    content: '/';
    margin-left: 10px;
    color: #6c757d;
}

.breadcrumb-item:last-child::after {
    content: '';
}

.breadcrumb-item.active a {
    color: #6c757d;
    pointer-events: none;
    text-decoration: none;
}

.breadcrumb-item.active::after {
    content: '';
}